<div class="graphic-header0">
    <h2>Our Story</h2>
</div>
<p>
    Back around St. Patrick's Day in 1994, the Diablo Sandwich Band made its inauspicious start as a two piece acoustic act playing in an Irish Tavern. As the band continued to play, and the number of people coming to see the show increased, so did the number of pieces in the band.  And on the night before Thanksgiving in 1995, the band played its first show featuring the Jalapeno Horn section.  In the years that have followed, the band has been booked in Connecticut, New York, Eastern Pennsylvania, New Jersey, Delaware, and Maryland, bringing its emphasis on having fun.
</p>
<div class="graphic-header1">
    <h2>Music Variety</h2>
</div>
<p>
    Check out our <a href="#!song-list">song list</a> - DSB mixes together its lineup of songs that includes music from the big band to today, with songs from the 70's, 80's, and 90's. Everything from rock and roll, to swing, to disco, to dance music, to soul, to ska, to reggae, to big band, to Caribbean, to punk, to whatever!
</p>
<div class="graphic-header2">
    <h2>The Name</h2>
</div>
<p>
    But where did the name come from?  Here’s the story right from the founder of the band, Chris Walinski:
</p><p>
    “Concerning the band name, back in the days when I was playing acoustically in a two man band, I got a call from a bar owner. He wanted to book a full band, and even though I was only in a two man acoustic show, I told him that I had a full band.
</p><p>
    The bar owner asked: "What's the band's name?" I didn't have a band, so of course I didn't have a band name. But luckily for me, as he was asking, I looked at the television. The movie <em>Smokey and the Bandit</em> was on. At that moment, the scene came on where Jackie Gleason goes into a truck stop where Burt Reynolds is eating and Jackie Gleason says: "Give me a Dr.Pepper and a DI-A-BLO SANDWICH, and make it fast I'm in a hurry."
</p><p>
    Without thinking twice, I replied over the phone: '<strong>The Diablo Sandwich Band</strong>.'<br>
    And that was the birth of the band.”
</p>