<section class="carusel">
    <img src="/assets/images/dsb_epic.jpg">
</section>
<p>
    Looking for a great night out with friends? Then you need to order up a night out with the Diablo Sandwich Band!  DSB serves up an All Night Happy Hour every time we take the stage!
</p>