<section class="contact">
    <h2><span class="fa fa-phone"></span> 732-99-EVENT</h2>
    <h2 class="email"><span class="fa fa-envelope-o"></span> <a href="mailto:diablosandwichband@gmail.com">diablosandwichband@gmail.com</a></h2>
</section>
<div class="graphic-header0">
    <h2>For Your Event</h2>
</div>
<p>
    Diablo Sandwich Band has entertained at thousands of weddings, corporate parties, bars, clubs, fundraisers and outdoor events.  With decades of experience, DSB's 8 piece band will make your event a hit.
</p>
<div class="graphic-header1">
    <h2>Expertise</h2>
</div>
<p>
    Diablo Sandwich musicians are pros who are constantly staying ahead of the curve - we always go the extra mile to ensure that songs sound like the original with the polish that our audience deserves.  Add that to the excitement of a live performance with our cutting-edge amplification and lighting, and your guests will be amazed at the fun we bring.
</p>
<div class="graphic-header2">
    <h2>Award-Winning</h2>
</div>
<p>
    Don't take our word for it.  DSB has received its fair share of great press and glowing reviews, see for yourself!
</p>
<section class="awards">
    <img src="/assets/images/awards.jpg">
</section>
<div class="graphic-header3">
    <h2>Reviews</h2>
</div>
<section class="reviews">
</section>