<h1>
    <div class="logo">&nbsp;</div>
    <span class="header-text">Diablo Sandwich Band</span>
    <span class="icons">
        <a href="//www.facebook.com/diablosandwichband" target="_blank"><span class="fa fa-facebook"></span></a>
        <a href="//twitter.com/diablosandwichb" target="_blank"><span class="fa fa-twitter"></span></a>
        <a href="//soundcloud.com/diablosandwichband" target="_blank"><span class="fa fa-soundcloud"></span></a>
    </span>
</h1>