<section class="carusel">
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</section>
<p>
    Looking for a great night out with friends? Then you need to order up a night out with the Diablo Sandwich Band!  DSB serves up an All Night Happy Hour every time we take the stage!  See <a href="#!listen">live video</a> of DSB for a taste of the fun!
</p>
