<header class="main-header"></header>
<nav class="main-nav"></nav>
<section class="main-content"></section>
<footer class="main-footer">
    &copy; 2015 Diablo Sandwich Band
</footer>
<div class="background"></div>