<div class="menu-icon">
    <span class="fa fa-bars"></span>
</div>
<ul>
    <li><a href="#!about">About</a></li>
    <li><a href="#!song-list">Song List</a></li>
    <li><a href="#!listen">Listen</a></li>
    <li><a href="#!watch">Watch</a></li>
    <li><a href="#!shows">Shows</a></li>
    <li><a href="#!reviews">Reviews</a></li>
</ul>