<div class="menu-icon">
    <span class="fa fa-bars"></span>
</div>
<ul>
    <li><a href="#!home">Home</a></li>
    <li><a href="#!about">About</a></li>
    <li><a href="#!song-list">Song List</a></li>
    <li><a href="#!media">Media</a></li>
    <li><a href="#!shows">Shows</a></li>
    <li><a href="#!booking">Booking</a></li>
</ul>