.contact {
    h2 {
        color: #fff;
        text-align: center;
        +mobile() {
            font-size: 1rem;
        }
        &.email {
            +mobile() {
                font-size: .8rem;
            }
        }
    }
}
.awards {
    text-align: center;
    width: 100%;
    img {
        max-width: 100%;
    }
}