.main-content {
    @import 'pages/home';
    @import 'pages/about';
    @import 'pages/listen';
    @import 'pages/shows';
    @import 'pages/booking';

    .graphic-header {
        &0 {
            @extend $graphic_header_ext_1;
            &.small {
                @extend $graphic_header_ext_1_sm;
            }
            &.no-image {
                @extend $color_header_ext_1;
            }
        }
        &1 {
            @extend $graphic_header_ext_2;
            &.small {
                @extend $graphic_header_ext_2_sm;
            }
            &.no-image {
                @extend $color_header_ext_2;
            }
        }
        &2 {
            @extend $graphic_header_ext_3;
            &.small {
                @extend $graphic_header_ext_3_sm;
            }
        }
        &3 {
            @extend $graphic_header_ext_4;
            &.small {
                @extend $graphic_header_ext_4_sm;
            }
        }
    }

    .spacer {
        background: url(/assets/images/dsb_chili.png) no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 1rem;
        transition: opacity $interval;
        width: 1rem;
    }
}
