html {
    height: 100%;
    position: relative;
}

body {
    $table_cloth();
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-header {
    col(1, gutter: 0);
    cf();
    background-color: $color_1;
    position: relative;
    h1 {
        cf();
        padding: .5rem 0;
        text-align: center;
        .logo {
            col(1/4);
            background: url(/assets/images/dsb_fish.png) no-repeat;
            background-size: contain;
            height: 70px;
        }
        .header-text {
            col(3/4);
        }
    }
    .hero {
        position: absolute;
        top: 0;
        z-index: -1;
        img {
            $grayscale();
            width: 100%;
        }
    }
}

.main {
    height: 80%;
    position: relative;
}

.main-nav {
    col(1/4, cycle: 2, gutter: 0);
    background-color: $color_3;
    color: $color_4;
    min-height: 100%;
    position: relative;
    text-shadow: 0 0 3px $color_3;
    span.fa {
        display: none;
    }
    ul {
        background-color: $color_3;
    }
}

+mobile() {
    .main-nav {
        col(1, cycle: 1, uncycle: 3, gutter: 0);
        height: $mobile_nav_size;
        margin: 0;
        min-height: 0;
        padding: 0;
        span.fa {
            display: inherit;
            font-size: $mobile_nav_size;
        }
        ul {
            height: 100%;
            position: fixed;
            top: 5000px;
            transition: top .5s;
            width: 100%;
            z-index: 2;
        }
        &.show {
            ul {
                top: $mobile_nav_size;
            }
        }
    }
}

.main-content {
    col(3/4, cycle: 2, gutter: 0);
    background-color: $color_1;
    min-height: 100%;
    position: relative;
    +mobile() {
        col(1, cycle: 1, uncycle: 2);
    }
}

.main-footer {
    col(1, cycle: 1, uncycle: 2, gutter: 0);
    background-color: $color_2;
    bottom: 0;
    color: #fff;
}

div, nav, header, footer, section, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}