.main-nav {
    text-align: center;
    ul {
        cf();
    }
    li {
        padding: 1rem 0;
        position: relative;
        col(1/5, gutter: 0, cycle: 5);
        +mobile() {
            col(1, uncycle: 5, cycle: 1)
        }
        a {
            color: inherit;
            text-decoration: none;
            transition: color $interval;
            &.current {
                color: $color_2;
            }
            &:before,
            &:after {
                background: url(/assets/images/dsb_chili.png) no-repeat;
                background-size: contain;
                content: '';
                display: inline-block;
                height: 1rem;
                opacity: 0;
                transition: opacity $interval;
                width: 1rem;
            }
            &:hover {
                &:before,
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}