@font-face {
    font-family: UnfinishedSympathy;
    font-weight: normal;
    src: local('☺︎'), url('/assets/fonts/UnfinishedSympathy2.ttf') format('truetype');
}

@font-face {
    font-family: UnfinishedSympathy;
    font-weight: bold;
    src: local('☺︎'), url('/assets/fonts/UnfinishedSympathy.ttf') format('truetype');
}

body {
    font-size: 18px;
}

nav {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .main-nav {
    font-family: UnfinishedSympathy;
}

h1, h2, .main-nav {
    color: $color_3;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.3rem;
}

p, input, footer {
    $text_shadow();
    font-family: Verdana, sans-serif;
}

.main-content a {
    $text_shadow();
    background-color: $color_4;
    color: #fff;
    text-decoration: none;
    transition: background-color $interval;
    &:hover {
        background-color: $color_5;
    }
}

.main-content {
    color: #fff;
}

footer {
    text-align: center;
}