$color_1 = #7e007e;
$color_2 = #fe0002;
$color_3 = #ffff00;
$color_4 = #027e00;
$color_5 = #fc00fc;

$mobile_nav_size = 32px;
$header_size = 80px;

$interval = .3s;

rupture.mobile-cutoff = 715px;

$table_cloth() {
    background-color: #fff;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size: 64px 64px;
}

$grayscale() {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

$text_shadow() {
    text-shadow: 1px 1px 1px #000;
}

$graphic_header_odd($path, $height=3rem, $graphic=block) {
    border-bottom: 3px solid $color_5;
    height: $height;
    position: relative;
    width: 100%;
    &:before {
        background: url($path) 50% 50%;
        content: '';
        display: $graphic;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
    > * {
        background: $color_5;
        font-size: .5 * $height;
        height: 100%;
        line-height: $height;
        margin: 0;
        min-width: 5rem;
        position: absolute;
        right: 0;
        text-align: right;
        &:before {
            border-color: transparent transparent $color_5 transparent;
            border-style: solid;
            border-width: 0 0 $height $height;
            content: '';
            height: 0;
            left: -1 * $height;
            position: absolute;
            width: 0;
        }
    }
}

$graphic_header_even($path, $height=3rem, $graphic=block) {
    border-bottom: 3px solid $color_3;
    height: $height;
    position: relative;
    width: 100%;
    &:before {
        background: url($path) 50% 50%;
        content: '';
        display: $graphic;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
    > * {
        background: $color_3;
        color: $color_4;
        font-size: .5 * $height;
        height: 100%;
        left: 0;
        line-height: $height;
        margin: 0;
        min-width: 5rem;
        position: absolute;
        text-align: left;
        &:before {
            border-color: transparent transparent $color_3 transparent;
            border-style: solid;
            border-width: 0 $height $height 0;
            content: '';
            height: 0;
            position: absolute;
            right: -1 * $height;
            width: 0;
        }
    }
}

$color_header_ext_1 {
    $graphic_header_odd('', 2rem, none)
}

$color_header_ext_2 {
    $graphic_header_even('', 2rem, none)
}

$graphic_header_ext_1 {
    $graphic_header_odd('/assets/images/2013-buckalews.jpg');
}

$graphic_header_ext_2 {
    $graphic_header_even('/assets/images/paul.jpg');
}

$graphic_header_ext_3 {
    $graphic_header_odd('/assets/images/2013-yacht-club.jpg');
}

$graphic_header_ext_4 {
    $graphic_header_even('/assets/images/2013-buckalews-4.jpg');
}

$graphic_header_ext_1_sm {
    $graphic_header_odd('/assets/images/2013-buckalews.jpg', 2rem);
}

$graphic_header_ext_2_sm {
    $graphic_header_even('/assets/images/paul.jpg', 2rem);
}

$graphic_header_ext_3_sm {
    $graphic_header_odd('/assets/images/2013-yacht-club.jpg', 2rem);
}

$graphic_header_ext_4_sm {
    $graphic_header_even('/assets/images/2013-buckalews-4.jpg', 2rem);
}
