$color_1 = #7e007e;
$color_2 = #fe0002;
$color_3 = #ffff00;
$color_4 = #027e00;
$color_5 = #fc00fc;

$mobile_nav_size = 32px;
$header_size = 80px;

rupture.mobile-cutoff = 715px;

$table_cloth() {
    background-color: #fff;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size: 64px 64px;
}

$grayscale() {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}